language: go
go:
  - 1.9.3

node_js:
  - "8.0"

env:
  global:

before_install:
  - sudo apt-get update
  - sudo apt-get install build-essential
  - sudo apt install gcc-mingw-w64-i686
  - sudo apt install gcc-mingw-w64-x86-64

script:
  - npm run build:all

before_deploy:
  - npm run create:artifact

deploy:
  provider: releases
  skip_cleanup: true
  file_glob: true
  api_key: $GITHUB_DEPLOY_KEY
  file: build/artifacts/*
  on:
    tags: true
